body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
}

input, button {
    padding: 8px;
    font-size: 16px;
    margin: 5px;
}

#mensagem {
    font-weight: bold;
    margin-top: 15px;
}

#chutes {
    color: red;
    font-weight: bold;
    word-wrap: break-word;
}